@font-face {
    font-family: "Nexa";
    
    src: url("fonts/Nexa/Nexa Light.otf") format("opentype");
}
@font-face {
    font-family: "Nexa_Bold";
    src: url("fonts/Nexa/Nexa Bold.otf")format("opentype");
}
h1,h2,h3,h4,h5{
    font-family: 'Nexa';
}
body {
    font-family: 'Nexa';
    margin: 0;
    background: white;
}
.contenido_home {
    height: 600px;
    width: 100%;
    padding-top: 300px;
    position: absolute;
    z-index: 3;
}
#home {
    background:white;
    background-size: 100%;
    position: relative;
    width: 100%;
}
#imghome {
    text-align: center;
}
#imghome img {
    width: 500px;
}
#video_background {
    /* position: absolute; */
    /* top: -87px; */
    /* margin: 0 auto; */
    width: 100%;
    height: auto;
    z-index: 1;
    overflow: hidden;
}
.videohome {
    width: 100%;
    height: 800px;
    background: url(../img/bg_home.jpg);
    background-size: cover;
    background-position: left;
    position: relative;
}
#perfil {
    position: relative;
    width: 100%;
    padding: 30px;
    background: black;
    background-size: 100%;
    color: white;
}
.textos_home {
    color: black;
    margin-top: 100px;
}
.textos_home h1 {
    font-family: 'Nexa_Bold';
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.textos_home h2 {
    font-family: 'Nexa';
    font-weight: bold;
    font-size: 1rem;
    display: inline-block;
    padding: 12px;
}
.textos_home p span {
    font-family: 'Nexa_Bold';
    font-size: 3rem;
}
.textos_home hr {
    clear: both;
    max-width: 75rem;
    height: 0;
    margin: 1.25rem auto;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #000000;
    border-left: 0;
}
.textos_home a{
  color: white;
}
.textos_home a:hover{
  color: black;
  text-decoration: underline;
}
.textos_home ul li {
    font-size: inherit;
    font-size: 0.8rem;
    list-style: none;
}
.flecha {
    color: black;
    text-align: center;
    font-size: 2rem;
    padding-top: 72px;
}
.flecha img{
  width: 30px;
}
.light{
  color: white;
}
.black{
    color: black;
}
.textos{
  text-align: center;
}
.textos h1 {
    font-family: 'Nexa_Bold';
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 30px;
}
.textos h2 {
    font-size: 1.3rem;
    margin-top: 10px;
}
.textos p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.button {
    background: black;
    margin-top: 30px;
    border: 1px solid white;
    margin-bottom: 60px;
    width: 100%;
}
.button:hover {
    background: white;
    margin-top: 30px;
    color: black;
    border: 1px solid black;
}

.image {
    text-align: center;
    margin-top: 100px;
}
.image img{
    width: 500px;
}
.image hr {
    clear: both;
    width: 50%;
    height: 0;
    margin: 1.25rem auto;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid black;
    border-left: 0;
}
#titulo_projects{
    padding: 30px;
}
#titulo_projects p {
    font-family: 'Nexa_Bold';
    font-size: 3rem;
    line-height: 45px;
    color: #ffe700;
    margin-top: 30px;
}
.project{
    width: 100%;
    height: 300px;
    position: relative;
    padding: 20px;
    margin-bottom: 30px;
}
#cupcakespili{
    background: url(../img/projects_recents/cupcakespili.jpg);
    background-size: cover;
    background-position: center;
    transition: all 0.4s;
}
#alcabama{
    height: 400px;
    background: url(../img/projects_recents/alcabama.jpg);
    background-size: cover;
    background-position: center;
    transition: all 0.4s;
}
#balloons{
    height: 170px;
    background: url(../img/projects_recents/balloons.jpg);
    background-size: cover;
    background-position: center;
    transition: all 0.4s;
}
#intexab{
    height: 200px;
    background: url(../img/projects_recents/intexab.jpg);
    background-size: cover;
    background-position: center;
    transition: all 0.4s;
}
#santamaria{
    height: 200px;
    background: url(../img/projects_recents/santamaria.jpg);
    background-size: cover;
    background-position: center;
    transition: all 0.4s;
}
#motosAU{
    height: 200px;
    background: url(../img/projects_recents/motosau.jpg);
    background-size: cover;
    background-position: center;
    transition: all 0.4s;
}
.texts {
    z-index: 9;
    position: absolute;
    color: white;
}
.texts h1{
    font-size: 2rem;
}
.texts h2{
     font-size: 1.5rem;
}
.filter{
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
#formulario_contacto{
      margin: 61px;
}
@media screen and (max-width: 700px) {
.contenido_home {
    height: 600px;
    width: 100%;
    z-index: 3;
}
.textos_home {
    color: black;
    margin-top: 100px;
    padding: 36px;
    background: rgba(255, 255, 255, 0.61);
}
.textos p {
    width: 100%;
    margin: 0 auto;
    font-size: 1.5rem;
    text-align: justify;
}
.button {
    background: black;
    margin-top: 30px;
    font-size: 1.5rem;
    border: 1px solid white;
    margin-bottom: 0;
    width: 100%;
}
}
@media screen and (max-width: 450px) {
.textos_home {
    color: black;
    margin-top: 35px;
    padding: 36px;
    background: rgba(255, 255, 255, 0.61);
}
.textos_home p span {
    font-family: 'Nexa_Bold';
    font-size: 2rem;
}
.textos p {
    width: 100%;
    margin: 0 auto;
    font-size: 1rem;
    text-align: justify;
}
#titulo_projects p {
    font-family: 'Nexa_Bold';
    font-size: 2rem;
    line-height: 45px;
    color: #ffe700;
    margin-top: 30px;
}
}
@media screen and (max-width: 769px) {
}

/*Animaciones css3*/
.floating{
    animation-name: floating;
    -webkit-animation-name: floating;

    animation-duration: 1.5s;   
    -webkit-animation-duration: 1.5s;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes floating {
    0% {
        transform: translateY(0%);  
    }
    50% {
        transform: translateY(8%);  
    }   
    100% {
        transform: translateY(0%);
    }           
}

@-webkit-keyframes floating {
    0% {
        -webkit-transform: translateY(0%);  
    }
    50% {
        -webkit-transform: translateY(8%);  
    }   
    100% {
        -webkit-transform: translateY(0%);
    }           
}
