@font-face {
    font-family: "Nexa";
    
    src: url("fonts/Nexa/Nexa Light.otf") format("opentype");
}
@font-face {
    font-family: "Nexa_Bold";
    src: url("fonts/Nexa/Nexa Bold.otf")format("opentype");
}
h1,h2,h3,h4,h5{
    font-family: 'Nexa';
}
body {
    font-family: 'Nexa';
    margin: 0;
    background: white;
}
.contenido_home {
    height: 600px;
    width: 100%;
    padding-top: 300px;
    position: absolute;
    z-index: 3;
}
#home {
    background:white;
    background-size: 100%;
    position: relative;
    width: 100%;
}
#imghome {
    text-align: center;
}
#imghome img {
    width: 500px;
}
#video_background {
    /* position: absolute; */
    /* top: -87px; */
    /* margin: 0 auto; */
    width: 100%;
    height: auto;
    z-index: 1;
    overflow: hidden;
}
.videohome {
    width: 100%;
    height: 100%;
    position: relative;
}
#perfil {
    position: relative;
    width: 100%;
    padding: 30px;
    background: white;
    background-size: 100%;
    height: 700px;
}
.textos_home {
    color: white;
    margin-top: 100px;
}
.textos_home h1 {
    font-family: 'Nexa_Bold';
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.textos_home h2 {
    font-family: 'Nexa';
    font-weight: bold;
    font-size: 1rem;
    display: inline-block;
    padding: 12px;
}
.textos_home a{
  color: white;
}
.textos_home a:hover{
  color: black;
  text-decoration: underline;
}
.textos_home ul li {
    font-size: inherit;
    font-size: 0.8rem;
    list-style: none;
}
.flecha {
    color: white;
    text-align: center;
    font-size: 2rem;
    padding-top: 72px;
}
.flecha img{
  width: 30px;
}
.light{
  color: white;
}
.black{
    color: black;
}
.textos{
  text-align: center;
}
.textos h1 {
    font-family: 'Nexa_Bold';
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 60px;
}
.textos h2 {
    font-size: 1.3rem;
    margin-top: 10px;
}
.textos p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
}
.icons_skills {
    text-align: left;
}
.icons_skills .fa {
    font-size: 1.5rem;
    text-align: center;
    display: inline-block;
    float: left;
    width: 100%;
}
.icons_skills h2 {
    font-family: 'Nexa_Bold';
    text-transform: uppercase;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 16px;
    color: #767676;
    text-align: center;
    float: left;
    width: 100%;
}
.icons_skills p {
    float: left;
    font-size: 0.8rem;
    padding-left: 40px;
}
.icons_skills ul {
    margin-left: 1.25rem;
    list-style-type: disc;
    float: left;
    width: 100%;
    font-size: 0.9rem;
}
.button {
    background: black;
    margin-top: 30px;
    border: 1px solid white;
    margin-bottom: 60px;
    width: 100%;
}
.button:hover {
    background: white;
    margin-top: 30px;
    color: black;
    border: 1px solid black;
}
#imagecolor {
    width: 100%;
    height: 300px;
    background: url(../img/Backgroundcolor.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}
#imagecolor .text {
    font-family: 'Nexa_Bold';
    color: white;
    font-size: 1.5rem;
    z-index: 1;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    padding: 112px;
    left: 0;
}
#imagecolor .filter {
    width: 100%;
    height: 100%;
    background: rgba(254, 219, 3, 0.5);
    position: absolute;
    top: 0;
}
#portafolio {
    background: black;
    width: 100%;
    height: 460px;
    background-size: 100%;
    background-position: center;
}
#innovacion{
    width: 100%;
    background: url(../img/innovacion/background.jpg);
    background-size: cover;
    background-position: center;
}
#diseno{
    width: 100%;
    background: url(../img/diseno/background.jpg);
    background-size: cover;
    background-position: center;
}
#aventura{
    width: 100%;
    background: url(../img/aventura/background.jpg);
    background-size: cover;
    background-position: center;
}
#programacion{
    width: 100%;
    background: url(../img/programacion/background.jpg);
    background-size: cover;
    background-position: center;
}
#creatividad{
    width: 100%;
    background: black;
    background-size: cover;
    background-position: center;
}
.image {
    text-align: center;
    margin-top: 100px;
}
.image img{
    width: 500px;
}
.image hr {
    clear: both;
    width: 50%;
    height: 0;
    margin: 1.25rem auto;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid black;
    border-left: 0;
}
.textos_pilares {
    text-align: left;
    margin-top: 30px;
    margin: 0 auto;
    width: 50%;
}
#art {
    width: 100%;
    height: auto;
    background: url(../img/Backgroundart.jpg);
    background-size: cover;
    background-position: top right;
}
#formulario_contacto{
      margin: 61px;
}
@media screen and (max-width: 769px) {
    #home {
    background:white;
    background-size: 100%;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 700px;
}
#perfil {
    position: relative;
    width: 100%;
    padding: 30px;
    background: white;
    background-position: 273px;
    height: 700px;
}
#portafolio {
    background: black;
    width: 100%;
    height: 700px;
}
}
@media screen and (max-width: 640px) {
 .menu-text img {
    width: 60px;
    margin: 0 auto;
}
#home {
    background: white;
    background-size: 100%;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 400px;
}
.contenido_home {
    background: black;
    height: 399px;
    width: 100%;
    padding-top: 123px;
    position: absolute;
    z-index: 3;
}
.videohome {
    width: 100%;
    height: 100%;
    position: relative;
    display: none;
}   
.textos_home {
    margin-top: 0;
    text-align: center;
}
.textos_home ul {
    margin-left: 0;
    list-style-type: disc;
}
#perfil {
    position: relative;
    width: 100%;
    padding: 0;
    background: white;
    background-position: 273px;
    height: auto;
}
.icons_skills ul {
    margin-left: 1.25rem;
    list-style-type: disc;
    float: left;
    width: 80%;
    font-size: 0.9rem;
}
.textos p {
    width: 100%;
    padding: 14px;
    margin: 0 auto;
    text-align: left;
    padding-bottom: 50px;
}
#imagecolor .text {
    font-family: 'Nexa_Bold';
    color: white;
    font-size: 1.3rem;
    z-index: 1;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    padding: 85px;
    left: 0;
}
#portafolio {
    background: black;
    width: 100%;
    height: 400px;
}
#art {
    width: 100%;
    height: auto;
    background: #fedb03;
    background-size: cover;
    background-position: top right;
}
.image {
    text-align: center;
    margin-top: 50px;
    width: 100%;
    padding: 17px;
}
.textos_pilares {
    text-align: left;
    margin-top: 30px;
    margin: 0 auto;
    width: 100%;
    padding: 17px;
}
#formulario_contacto {
    margin: 30px;
}
}
@media screen and (max-width: 321px) {
#home {
    background: white;
    background-size: 100%;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 500px;
}
#imagecolor .text {
    font-family: 'Nexa_Bold';
    color: white;
    font-size: 1rem;
    z-index: 1;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    padding: 66px;
    left: 0;
}
#art {
    width: 100%;
    height: auto;
    background: #fedb03;
    background-size: cover;
    background-position: top right;
}
}
/*Animaciones css3*/
.floating{
    animation-name: floating;
    -webkit-animation-name: floating;

    animation-duration: 1.5s;   
    -webkit-animation-duration: 1.5s;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes floating {
    0% {
        transform: translateY(0%);  
    }
    50% {
        transform: translateY(8%);  
    }   
    100% {
        transform: translateY(0%);
    }           
}

@-webkit-keyframes floating {
    0% {
        -webkit-transform: translateY(0%);  
    }
    50% {
        -webkit-transform: translateY(8%);  
    }   
    100% {
        -webkit-transform: translateY(0%);
    }           
}
