header {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 9;
}
.menu > li > a{
    color: black;
    padding-top: 0;
}
.menu > li > a:hover{
    color: black;
    padding-top: 0;
    text-decoration:underline;   
}
.menu img {
    width: 41px;
}
#logo_home {
    background: white;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    /* border: 1px solid black; */
    box-shadow: grey 0 0 6px;
}

/*inicio - footer*/
.full-width {
  max-width: 1400px;
}
.footer {
    background-color: #0a0a0a;
    position: relative;
    padding: 2rem 4rem;
    text-align: center;
    color: #fff;
}
.footer i {
  font-size: 100px;
}

.footer h4 {
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 2.5rem;
  margin-bottom: 10px;
}
.footer p, .footer a {
  font-weight: 300;
  font-size: .8em;
  color: #fff;
}

@media screen and (max-width: 640px) {
  .menu-centered {
    text-align: center;
    margin-left: -6px;
    width: 100%;
}
}
@media screen and (max-width: 500px) {
.menu .itemsmenu{
    display: none;
}
}
@media only screen and (min-width: 40.063em) {
  .footer .columns:nth-child(n+2) {
    border-left: 1px solid #b3b3b3;
  }
}
.footer-links {
  list-style-type: none;
}
.footer-links li {
  margin-top: .5em;
}
/*fin - footer*/