@font-face {
    font-family: "Nexa";
    src: url("../css/fonts/Nexa/Nexa Light.otf") format("opentype");
}
@font-face {
    font-family: "Nexa_Bold";
    src: url("../css/fonts/Nexa/Nexa Bold.otf")format("opentype");
}
.portada{
	width: 100%;
	height: 400px;
}
#balloons {
    background: url(../img/portafolio/balloons/background.jpg);
    background-size: cover;
    background-position: center;
    
}
#alcabama {
    background: url(../img/portafolio/alcabama/background.jpg);
    background-size: cover;
    background-position: center;
    
}
#intexab {
    background: url(../img/portafolio/intexab/background.jpg);
    background-size: cover;
    background-position: center;
    
}
#santamaria {
    background: url(../img/portafolio/santamaria/background.jpg);
    background-size: cover;
    background-position: center;
    
}
#motosau {
    background: url(../img/portafolio/motosau/background.jpg);
    background-size: cover;
    background-position: center;
    
}
.acerca{
    padding: 50px;
}
.acerca h1{
	 font-family: 'Nexa_Bold';
}
.acerca p{
	 font-family: 'Nexa';
}
.galeria{
    width: 100%;
}
.gridder-expanded-content{
	background: red;
}